@page "/coinflip"

<h1>Flip a coin!</h1>

<p role="status">You flipped: @headsOrTails</p>

<button class="btn btn-primary" @onclick="FlipCoin">Flip the coin!</button>

@code {
    string headsOrTails;
    int headsCount;
    int tailsCount;
    int flipCount;

    void FlipCoin()
    {
        Random random = new Random();

        int flip = random.Next(100);


        if(flip < 50)
        {
            headsOrTails = "Heads";
            headsCount++;
            flipCount++;
        }
        else
        {
            headsOrTails = "Tails";
            tailsCount++;
            flipCount++;
        }
    }
}
